html,
body {
  margin: 0;
  padding: 0;
}

body{
  margin-bottom: 15px;
  background-image: url('/assets/p6.png');
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 24px 0;
}

header {
  background: -webkit-linear-gradient(bottom, #e8cf48, #ffe540);
}

header .container {
  min-width: 900px;
  padding: 0;
}

header, h1, h2, h3 {
  font-family: 'Wellfleet', cursive;
}

header h1 {
  margin: 0;
  padding: 0;
  line-height: 128px;
}

header a {
  color: #29AB87;
  text-shadow: 0 -1px 1px rgba(0,0,0,.5);
  text-decoration: none;
}

header ul a:hover {
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  position:relative;
  top:-2px;
}

nav {
  margin-bottom: 30px;
  width: 100%;
  text-align: right;
  color: #FFF6E5;
  height: 128px;
}

nav a {
  -webkit-transition: all .1s ease; 
}

nav a:hover {
  color: brown;
}

header ul {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  color: brown;
  font-size: 32px;
  padding: 16px;
  line-height: 128px;
}

#logo {
  list-style: none;
  float:left;
  font-size: 4em;
}

/* Forms */

input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  border: 1px solid #ccc;
  resize: none;
  height: 64px;
  border-radius: 4px;
}

/* Button */

.button {
  margin: 32px;
  height: 64px;
  font-weight: bold;
  background-color: #FFE540;
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-shadow: 0 1px 1px rgba(255,255,255,.5);
  font-family: 'Wellfleet', cursive;
  -webkit-transition: all .1s ease; 
}

.button:hover {
  background-color: brown;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,.5);
}

/* Survey List on Profile Page */

.survey_list {
  padding: 0;
  list-style: none;
  padding-left: 16px;
  margin-bottom: 40px;
}

.survey_list li {
  margin-bottom: 16px;
}

.survey_list .survey_title {
  font-size: 24px;
  font-family: 'Wellfleet', cursive;
}

.survey_list .survey_edit,
.survey_list .survey_delete {
  display: inline;
  margin-right: 8px;
}

.survey_list h2, .survey_list p {
  margin: 0;
  padding: 0;
}

.survey_list a, .survey-title {
  text-decoration: none;
  color: brown;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/* Create Survey Form */

#create_survey {
  width: 500px;
  padding: 16px;
  text-align: center;
  border: 2px solid rgba(255,229,64,1);
  border-radius: 8px;
  background-color: rgba(255,229,64,.25);
}

#create_survey input, #create_survey textarea {
  width: 450px;
  padding: 16px;
  margin: 8px;
}

/*<<<<<<< HEAD
#create_survey[input=submit] {
  width: 500px;
}*/

/*formatting for question form overlay*/


.question {
  width: 500px;
  padding: 16px;
  text-align: center;
  border: 2px solid rgba(255,229,64,1);
  border-radius: 8px;
  background-color: rgba(255,229,64,.25);
}

.question input, .question textarea {
  width: 460px;
  padding: 8px;
  margin: 8px;
}

.question[input=submit] {
  width: 500px;
}

/* Formatted Question List for survey/:survey_id */

.question_list li {
  margin: 8px 0;
}

.question_list ul {
  margin-bottom: 32px;
  list-style: none;
  padding: 0;
}

.question_list ul li input {
  margin-right: 8px;
}

/* Google Chart Visualization */

div #visualization {
  width:600px;
  height:400px;
  margin-left: 10%
}

div .visualization {
  text-align: right;
  float:right;

}

div .result {
  height: 250px;
}

div .vis-container {
  height: 250px;
}

div .left-column {
  float:left;
  width:49%;
  position:relative;
}

div .right-column {
  float:left;
  width:49%;
  position:relative;
}

div #errors {
  color:red;
  background-color: yellow;
}

.errors {
  color:red;
}

span#email-errors {
  position:absolute;
  bottom:25px;
  right:256px;

}

span#login-errors {
  position:absolute;
  bottom:25px;

}

span#login-email-errors {
  position:absolute;
  bottom:25px;
  right:460px;

}

span#name-errors {
  position:absolute;
  bottom:25px;
  right:463px;
}

span#password-errors {
  position:absolute;
  top:45px;
  right:463px;
}

.hidden {
  display:none;
}

.input-small {
  float:left;
}

form {
  position:relative;
}

input:focus:invalid {
  background-image: url(/images/warn.png);
  background-position: right top;
  background-repeat: no-repeat;
}
input:required:valid {
  background-image: url(/images/check.png);
  background-position: right top;
  background-repeat: no-repeat;
}

/* Footer */

footer {
  height: 24px;
  width: 100%;
  text-align: center;
  font-family: 'Wellfleet', cursive;
}

footer,
footer a {
  color: rgba(0,0,0,.25);
  text-decoration: none;
  -webkit-transition: all .1s ease;
}

footer a:hover {
  color: brown;
}

/* Overlay */


.overlay{
    background:transparent url(/images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.box{
position: fixed;
top:-600px;
left: 0%;
margin-left: auto;
margin-right: auto;
width: 600px; (width of the modal)
left: 0;
right: 0;
background-color:#fff;
color:#7F7F7F;
padding:20px;
border:1px solid #ccc;
z-index:101;
}


.box h1{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#ffe540;
    color:#29AB87;
}

