
<form class="pic_upload_form" form method="post" action="/survey/upload" enctype="multipart/form-data"><label for="title" >Add a Pic:</label>
  <input type="file" name="file">
  <input type="hidden" name="q_id" value="<%= q_id %>">
  <input type="submit" value="Upload" class="button">
</form>
