<h2>Add a Pic:</h2>
<form class="pic_upload_form" form method="post" action="/survey/upload" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload" class="btn">
</form>
