<ol>
<% @survey.questions.each do |q| %>
  <li><%= q.content %></li>
    <% q.choices.each_with_index do |c| %>
      <input type="radio" name="questions[<%= q.id %>]" value="<%= c.id %>"><%= c.content %>
  <% end %>
<% end %>
</ol>
