<footer>
  <p><a href="https://github.com/JSConnolly">J</a> &bull; <a href="https://github.com/jam-tmrw">James</a> &bull; <a href="https://github.com/silkenson">Park</a> &bull; <a href="https://github.com/charmcitygavin">Gavin</a></p>
</footer>