<form class ="question" action="/question/new" method="post" >
  <input type="text" name="content" placeholder="question title">
  <textarea type="text" textarea rows="6" name="choices" placeholder="Add question choices here, one per line."></textarea>
  <input type="submit" value="Add Question!" class="button">
  <a href="#" id="bloxclose"><input type="button" value="Close" class="button" id="boxclose"></a>
</form>
