    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/create_survey.js"></script>



<h1>Create Survey</h1>

<% if @survey %>
  <h2><%= @survey.title %></h2>
  <p><%= @survey.description %></p>

  <div class="question_printer_3000"></div>

  <%=erb :_question_form %>
<% else %>
  <form action="/survey/new" method="post">
    <input type="text" name="title" placeholder="Survey Title">
    <textarea type="text" name="description" placeholder="Describe your amazing survey here, buddy."></textarea>
    <input type="submit" value="Start Adding Questions!">
  </form>
  <h2>Add a Pic:</h2>
<form class="form" form method="post" action="/albums/<%= @album.id %>/upload" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload" class="btn">
</form>
</div>
<% end %>





