<h1>Create Survey, Hoser</h1>

<% if @survey %>
  <h2><%= @survey.title %></h2>
  <p><%= @survey.description %></p>

    <% unless @survey.pictures.empty? %>
      <img src="<%= @survey.pictures.first.image.gallery %>">
    <% end %>

  <div class="question_printer_3000"></div>
  <%=erb :_question_form %>
<% end %>
