<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/create_survey.js"></script>
  <script src="/js/profile.js"></script>


  <title>Gorilla Monkey</title>
</head>
<body>
  <%= erb :_nav%>
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
