<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Gorilla Monkey</title>
</head>
<body>
  <%= erb :_nav%>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
