<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/create_survey.js"></script>

  <title>Gorilla Monkey</title>
</head>
<body>
  <%= erb :_nav%>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
