<h1><%= @user.name.capitalize %>'s Profile<h1>

<h2>You made it to the profile! Frig yeah!!!!!!</h2>

<p class="button"><a href='/survey/new'>Create a survey, hoser.</a></p>

<% unless @user.created_surveys.to_a.empty? %>
  <ul class="survey_list">
  <% @user.created_surveys.each do |s| %>
    <li>
      <h2><a href="/survey/<%= s.id %>"><%= s.title %></a></h2>
      <p><%= s.description %></p>
    </li>
  <% end %>
  </ul>
<% end %>
