<h1><%= @user.name.capitalize %>'s Profile<h1>

<h2>Create a Survey:</h2>

  <form action="/survey/new" method="post" id="create_survey">
    <input type="text" name="title" placeholder="Survey Title">
    <textarea type="text" name="description" placeholder="Describe your amazing survey here, buddy."></textarea>
    <input type="submit" value="Let's get started!" class="button">
  </form>

<% unless @user.created_surveys.to_a.empty? %>
  <div id="my_surveys"><%= erb :_my_surveys %></div>
<% end %>
