<h1><%= @survey.title %></h1>

<% unless @survey.pictures.empty? %>
  <img src="<%= @survey.pictures.first.image.gallery %>">
<% end %>

<form method='post' action="/survey/<%= @survey.id %>">
  <%= erb :_create_survey_question %>
  <div id="errors"></div>
  <input type="submit" value="Submit">
</form>


<script type="text/javascript" src="/js/submit_validation.js"></script>
